body{
  background-image: url(https://cdn.dribbble.com/users/498786/screenshots/10512253/media/e36d83faf1be80369e15732f1296ae93.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% ;
  height: 450px;
}
.header{
  text-align: center;
}
.inputcity{
  text-align: center;
}
input[type="text"]{
  height: 30px;
  width:300px;
  background-color: #e7e7e7;
  font-family: "Nunito",sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 2px;
}
button{
  background-color: #F0F8FF;
  color: black;
  height: 40px;
  width: 100px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
label{
  font-size: 30px;
}
